.gallery {

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

html {
    min-width: 100%;
    min-height: 100%;
    font-size: 16px;
}

.h1 {
    font-size: 2em;
    margin: 1rem;
}

// @mixin themelight {
//     background-color: #ffffff;
//     color: #232222;
// }

// @mixin themedark {
//     background-color: #222;
//     color: #ffffff;
// }

.page {
    font-family: 'Open Sans', sans-serif;
    max-width: 1360px;
    margin: auto;
    background-color: #f5f5f5;
    color: #232222;
}

.prod-cont {
    box-sizing: border-box;
    // border: 1px solid gray;
    background-color: #ffffff;
    display: flex;
    flex: 0 1 calc(27% - 4em);
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;

    &__prod-img {
        max-width: 100%;
    }

    &__name-price {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    &__prod-name {
        height: 4em;
        font-size: 1em;
        margin-top: auto;
        text-align: center;
    }

    &__prod-price {
        border-top: 2px solid green;
        font-size: 1em;
        font-weight: 500;
        margin: 5px 0;
        padding-top: 1em;
    }

    &__stat-img {
        position: relative;
    }

    &__stats-cont {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
    }

    &__stat-label {
        font-size: 0.8em;
        background-color: green;
        color: whitesmoke;
        border-radius: 5%;
        margin: 0.3em;
        padding: 0.2em 0.4em;
        text-transform: capitalize;
    }
}

.status-sel {
    // display: inline-block;
    margin: 1rem;

    &__label {
        margin: 1rem;
    }
}

// @media (prefers-color-scheme: light) {
//     .page {
//         @include themelight;
//     }
// }

// @media (prefers-color-scheme: dark) {
//     .page {
//         @include themedark;
//     }
// }

@media (max-width: 1024px) {
    .prod-cont {
        flex: 0 1 calc(34% - 3em);
    }
}

@media (max-width: 768px) {
    .prod-cont {
        flex: 0 1 calc(50% - 2em);
    }
}

@media (max-width: 440px) {
    .prod-cont {
        flex: 0 1 calc(100% - 1em);
    }
}
