.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
}

html {
  min-width: 100%;
  min-height: 100%;
  font-size: 16px;
}

.h1 {
  font-size: 2em;
}

.page {
  font-family: 'Open Sans', sans-serif;
  max-width: 970px;
  margin: auto;
  background-color: #ffffff;
  color: #222;
}

.prod-cont {
  box-sizing: border-box;
  border: 1px solid gray;
  display: flex;
  flex: 0 1 calc(28% - 4em);
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

.prod-cont__prod-img {
  max-width: 100%;
}

.prod-cont__name-price {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.prod-cont__prod-name {
  font-size: 1em;
  margin: auto;
  text-align: center;
}

.prod-cont__prod-price {
  font-size: 1em;
  margin: 5px 0;
  border-top: 2px solid green;
  padding-top: 1em;
}

.prod-cont__stat-img {
  position: relative;
}

.prod-cont__stats-cont {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
}

.prod-cont__stat-label {
  font-size: 0.8em;
  background-color: green;
  color: whitesmoke;
  border-radius: 5%;
  margin: 0.2em;
  padding: 0.2em 0.4em;
  text-transform: capitalize;
}

.status-sel {
  display: inline-block;
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: #ffffff;
    color: #222;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #222;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .prod-cont {
    flex: 0 1 calc(35% - 3em);
  }
}

@media (max-width: 440px) {
  .prod-cont {
    flex: 0 1 calc(50% - 2em);
  }
}
